// Colors that revolves around our website
$primary-color: #edf3f4;
$secondary-color: #515570;
$tertiary-color: #2f2b35;

// Colors commonly used for button, text
$white: white;
$black: black;
$dark-grey: #A9A9A9;
$light-grey: rgba(203, 203, 210, 0.15);