// Colors that revolves around our website
$primary-color: #FEDBD0;
$secondary-color: #442C2E;
$tertiary-color: #FEEAE6;

// Colors commonly used for button, text
$white: white;
$black: black;
$dark-grey: #A9A9A9;
$light-grey: rgba(203, 203, 210, 0.15);