.stranger-wrapper {
   background-image: url("/images/dashboard.jpg");
   background-size: cover;
   background-repeat: no-repeat; 
   display: block;
   position: absolute;
   height: 100%;
   width: 100%;
} 

.card-transparent {
  opacity: 0.9;
}

.stranger-title-section {
  color: $tertiary-color;
}

.stranger-login-section {
  a {
      text-decoration: none;
      color: $tertiary-color;
      padding: 10px 0 10px 0;
      border-radius: 5px;

      &:hover {
        background: $light-grey;
      }
  }

  a.active {
    color: $white;
  }
}