.cartPage-main-container {
   background-color: $primary-color;
}

.cart-image {	
   width:160px;
   margin-bottom: 10%;
   margin-top: 10%;
}

.cartPage-shadow {	
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartPage-mycart-title {
   font-size: 35px;
   padding-top: 2%;
   color: $tertiary-color;
}

.cartPage-title-detail-container {
   right:12px;
}

.cartPage-title-price-container {
   text-align: right;
}

.cartPage-title-container {
   border-bottom: 1px solid silver;
   padding-bottom: 4px; 
   padding-top: 3px; 
   margin-top: 2%;
   font-size: 20px;
   text-transform: uppercase;	
   color: $tertiary-color;
}

.cartPage-detail-content-container {
   font-size: 16px; 
}

.cartPage-detail-title {
   font-weight: bold;
   color: $tertiary-color;
}

.cartPage-garbage-numOfOrderBar-container {
   text-align:right; 
   bottom: 0;
}

.cartPage-garbage-button {
   background-color: transparent;
   border-color: transparent;
   font-size:23px;
}

.cartPage-numOfOrderBar {
   width: 50px;
   height: 80%;
   font-size: 18px;
}

.cartPage-section-title-container {
   font-size: 16px;
   color: $tertiary-color;
}

.cartPage-promoCode-container {
   height:50px;
}

.cartPage-promoCode-inputfield {
   height: 100%;
   width: 100%;
   text-align: center;
   text-transform: uppercase;

}

.cartPage-promoCode-button {
   height: 100%;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   background-color: $tertiary-color;
   border-color: transparent;
   color:white;
}

.cartPage-backButton {
   position: absolute;
   top: 12px;
   font-size: 23px;
   cursor: pointer;
}

.cartPage-cart-section {
   width:50%;
}  

.cartPage-backButton-container{
   border-bottom: 1px solid $tertiary-color;
}

.cartPage-pointer-cursor {
   &:hover{
      text-decoration-line: underline;
   }
   cursor: pointer;
}

.cartPage-table-head {
   tr {
      th {
         background-color: $tertiary-color;
         color:white;
      }
   }
}

.cartPage-popUp-title {
   font-size: 20px;
}

.cartPage-font {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cartPage-totalPrice-container {
   font-size: 22px;
   color: $tertiary-color;
}

.cartPage-modal-button {
   &:hover{
      background-color: transparent;
      color:$tertiary-color;
   }
   padding:13px 33%;
   background-color: $tertiary-color;
   border: 1px solid $tertiary-color;
   color: white;
}

.cartPage-remark-input {
   &:focus {
      outline: none;
   }

   border-top: 0;
   border-left: 0;
   border-right: 0;
   width: 100%;
   border-bottom: 1px solid $tertiary-color;
}

.cartPage-selfCollection-container{
   border-bottom: 1px solid $tertiary-color; 
}

.cartPage-select {
   .form-control{
      border: 1px solid $tertiary-color;
   }
}

.itemPagination {
   list-style: none;
   margin-right: 50px;
   text-align: center
}

.itemPagination li {
   display: inline-block;
   font-weight: bold;
   margin-left: 50px;

}

.itemPagination li:hover {
   cursor: pointer;
   color: #878b91;

}

.cartPage-cart-section {
   margin-right: 40px
}



@media (max-width: 576px) {
   .cartPage-title-container {
      font-size: 19px;
   }

   .cartPage-detail-content-container {
      font-size: 14px; 
   }

   .cartPage-promoCode-title-container {
      font-size: 14px;
   }

   .itemPagination li {      
      margin-left: 20px;

   }

   .itemPagination  {
      text-align: left
   }
}

@media (max-width: 992px) {
   .cartPage-cart-section {
      width:80%;
   }

   .cartPage-checkout-section {
      width:80%;
   }
}
