.forgetPassword-main-container {
    background-color: $primary-color;
 }

 .forgetPassword-main-title {
    font-size: 35px;
    padding-top: 2%;
    color: $tertiary-color;
 }

 .forgetPassword-fullContent-container {
    width:55%;
 }

 .forgetPassword-shadow {	
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }


 @media (max-width: 992px) {
   .forgetPassword-fullContent-container{
      width:80%;
   }
 }

@media (max-width: 576px) {
   .forgetPassword-fullContent-container{
      width:95%;
   }
}


