.carousel-image {
	max-height: 600px;	
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
}

.carousel-subtitle {
	text-align: left;
	font-style: italic;
	font-size: 20px;
	margin-bottom: -15px;

}

.carousel-title {
	text-align: left;
	font-size: 90px;
}


.carousel-button{
	border-radius: 40px;
	background-color: #162235;
	border-color: #162235;
	margin-top: 2%;
	margin-bottom: 17%;
	float: left;
	width: 13%;
	background-color: $tertiary-color;
	border: none;
}

.carousel-button:hover {
	background-color: $secondary-color;
}

.title-display {
	padding-top: 3%;
	padding-bottom: 2%;	
	background-color: $primary-color;
	font-size: 35px;
	text-align: center;
}

.books-row {
	height: 100%;
}

.books-container {
	width: 110%;
	padding-bottom: 10%;
	margin: auto;	
	background-color: white;
	text-align: center;
	border-radius: 10px;
}	

.books-display {
	background-color:$primary-color;
	height: 100%;	
}

.books-image {	
	max-width: 93%;
	border: 8px solid white;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.books-name {
	font-size: 16px;
	padding-top: 10%;
	margin-bottom: 0;
	font-weight: bold;
}

.books-author {
	font-size: 12px;
	color: #b7bfcc;
}

.books-price {
	font-size: 15px;
}

.books-detail-button {	
	font-size: 13px;
	width: 45%;
	height: 30px;
	padding: 0;
	background-color: transparent;
	border: 1px solid #becee8;
	border-bottom-left-radius: 30px;
  	border-top-left-radius: 30px;	
}

.book-detail-button:hover {
	background-color: #dee5ef;
}

.books-buy-button {
	color: 595858;
	font-size: 13px;
	width: 45%;
	height: 30px;
	padding: 0;
	background-color: transparent;
	border: 1px solid #becee8;
	border-bottom-right-radius: 30px;
  	border-top-right-radius: 30px;
	 
}

.books-buttons-div {
	font-size: 0; //remove gaps between 2 buttons
}

.books-buttons-icon {
	color: #999999;
	font-size: 15px;
}

.featured-book-word {
	font-size: 20px;	
}

.featured-book-title {
	font-size: 24px;	
}

.featured-book-author {
	font-size: 14px;
	color: #b7bfcc;
}

.featured-book-description {
	font-size: 16px;
	color: #72777f;
	padding-top: 3%;
}

.featured-book-image {		
	width: 80%;
}

.popular-course-title-display {
	color: #d7e1ef;
	padding-top: 3%;
	padding-bottom: 2%;	
	background-color: #2f2b35;
	font-size: 35px;
	text-align: center;
}

.popular-courses-display {
	background-color: #2f2b35;

}

.popular-courses-container {
	width: 115%;
	height: 93%;
	margin: auto;	
	background-color: white;
	text-align: center;
	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
}

.popular-courses-image {
	max-width: 93%;
}

.popular-courses-name {
	font-size: 15px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin-top: 25px;
}

.popular-courses-details {
	width: 100%;
	margin: 0
}

.popular-courses-button {
	height: 30%;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 5px;
}

.browse-collection-image-filter {	
	height: 320px;
	position: relative;
}

.browse-collection-image-filter:before {
	content: "";
  	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(129, 103, 253, 0.2);
  	transition: all .3s linear;
}

.browse-collection-image {
	height: 320px;
	width: 100%;
}

.browse-collection-word {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 38px;
	color: white;
	width: 750px;
	height: 56px;
	margin-top: -28px;
	margin-left: -375px;

}

.browse-collection-button {
	position: absolute;
	left: 50%;
	top: 65%;
	background: none;
	border: none;
	width: 230px;
	margin-left: -115px;
}

.informative-section-icons {
	font-size: 71px;
}

.informative-section-titles {
	font-size: 18px;
}

.informative-section-text {
	font-size: 14px;
	color: #888e99;
}

@media (max-width: 992px) {
	.featured-book-word {
		padding-top: 0px;
	}

	.books-container {
		width: 73%;
		padding-bottom: 5%;
	}

	.popular-courses-container {
		width: 73%;
		height: 93%;
		margin: auto;	
		background-color: white;
		text-align: center;
		border-bottom-left-radius: 10px;
	  	border-bottom-right-radius: 10px;
	}	

	.carousel-subtitle {
		text-align: center;
		font-style: italic;
		font-size: 20px;
		margin-bottom: -15px;
	}

	.carousel-title {
		text-align: center;
		font-size: 70px;
	}

	.carousel-button{
		border-radius: 40px;
		background-color: #162235;
		border-color: #162235;
		margin-top: 2%;
		margin-bottom: 12%;
		float: none;
	}

	.popular-courses-name {
		margin: 0;
		font-size: 20px;
	}

	.popular-courses-button {
		margin: 0;
		font-size: 20px;
		height: 50%
	}

	.browse-collection-word {
		font-size: 30px;
		width: 585px;
		margin-left: -292.5px;
	}	
}

@media (max-width: 768px) {	
	.books-container {		
		padding-bottom: 0;
		margin-bottom: 20px;
	}

	.books-name {
		font-size: 20px;
		padding-top: 5%;
	}

	.books-detail-button {
		margin-bottom: 8%;		
	}

	.books-buy-button {
		margin-bottom: 8%;		 
	}

	.carousel-title {
		text-align: center;
		font-size: 60px;
	}

	.carousel-button {				
		height: 17%;
		font-size: 12px;		
	}
}

@media (max-width: 605px) {
	.carousel-subtitle {
		font-size: 16px;
		margin-bottom: 0;
	}

	.carousel-title {
		font-size: 45px;
	}

	.carousel-button {
		font-size: 8px;
		width: 85px;
	}

	.browse-collection-word {
		font-size: 22px;
		width: 430px;
		margin-left: -215px;
	}
}

@media (max-width: 460px) {
	.carousel-button {
		margin-bottom: 7%;		
	}

	.carousel-title {
		font-size: 30px
	}

	.carousel-subtitle {
		font-size: 12px;
	}

	.browse-collection-word {
		font-size: 16px;
		width: 315px;
		margin-left: -157.5px;
	}

	.browse-collection-button {
		font-size: 12px;
		width: 180px;
		margin-left: -90px
	}
}

