

.nav-bar-logo {
	margin-left: 5%;
	margin-top: 5%;
	font-size: 30px;	
}

.nav-hamburger {
	color: white;
}

.nav-bar-elements{
	
}

@media (min-width: 992px) {
	.home-nav-bar {
		position:absolute;
	width:100%;
	z-index:10;
	max-width:100%;
	}
}
