.home-nav-bar {
	background-color: $tertiary-color;	
	top: 0;
}

.nav-middle-buttons {
	
}

.nav-bar-burger {
	color: white;
	font-size: 30px;
	margin-top: 90%;
}

.nav-bar-logo {	
	color: white;
	font-size: 30px;
	margin-left: 5%
}

.nav-hamburger {
	color: white;
}

.nav-bar-elements{
	margin-right: 10%;
	margin-top: 2%;
}

.nav-bar-cart-button {
	margin-right: 30%;
	color: white;
	padding: 0;
	border: none;
	background: none;
	margin-top: 50%;
}

.nav-bar-cart-icon {
	font-size: 30px;
	margin-right: 40px	   
}

@media (max-width: 992px) {
	.nav-bar-elements{
		margin: 0;
	}

	.nav-dropdown {
	background-color: #2f2b35;
	}

	.nav-bar-logo {	
	color: white;
	font-size: 30px;
	margin-left: 0
	}

	// .home-nav-bar {
	// 	position: absolute;
	// 	width: 100%;		
	// 	max-width: 86%;
	// 	margin-left: 7%
	
	// }
}
